body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-1000);
  }
div {
  color: blueviolet;
  border-bottom-style: inset;
   
}
h1 { 
    border-bottom-style: inset;
 }
.tarefa-selecionada { 
    color: red; 
    font-style: italic; 
}
.tarefa-normal {
     color: black; 
    }